.titles {
  font-size: $text-big;
  margin: 200px 0 0 150px;
  position: relative;

  &::before {
    content: '';
    background-image: url(assets/triangle.svg);
    background-repeat: no-repeat;
    bottom: -26px;
    height: $title-decoration-height;
    position: absolute;
    right: 148px;
    width: $title-decoration-width;
    z-index: -1;
  }
}
