@import 'variables/colors';

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 0;
}

ol {
	padding-left: 30px;
}
ul {
	padding-left: 30px;
}
.board-row {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
.status {
	margin-bottom: 10px;
}
.square {
	background: $color2;
	border: 1px solid $grey;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
	&:focus {
		outline: none;
	}
}
.kbd-navigation {
	.square {
		&:focus {
			background: $background-color-3;
		}
	}
}
.game {
	display: flex;
	flex-direction: row;
}
.game-info {
	margin-left: 20px;
}
.error-field {
	margin: 5px 0;
	border-radius: 5px;
	color: $color1;
	background-color: $background-color-1;
	position: relative;
	text-align: center;
}
.flex-container {
	align-items: flex-start;
	max-width: 500px;
	margin: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border: 1px solid $silver;
	padding: 20px;
	width: 100%;
}
.form-field {
	margin-top: 50px;
}
.form-input {
	width: 100%;
}
.valid {
	border: 1px solid $green;
}
.invalid {
	border: 1px solid $red;
}
.button-style {
	margin-top: 10px;
	color: $color2;
	background-color: $background-color-2;
	width: 100%;
	height: 30px;
}
button {
	&:hover {
		opacity: 0.8;
	}
}
.navbar {
	display: flex;
	overflow: hidden;
	padding: 20px;
	justify-content: space-around;
	align-items: center;
	color: $color3;
	box-shadow: 0 0 15px $silver;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
}
a {
	text-decoration: none;
	font-size: 17px;
	color: $color4;
	text-align: center;
	&:hover {
		background-color: $background-color-3;
		color: $color5;
	}
}
a.active {
	color: $color6;
}
.navbutton {
	text-decoration: none;
	font-size: 17px;
	color: $color4;
	text-align: center;
	&:hover {
		background-color: $background-color-3;
		color: $color5;
	}
}
.flex-profile {
	background-color: $background_color_1;
	align-items: center;
	max-width: 500px;
	margin: auto;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border: 3px solid $color_1;
	padding: 20px;
	width: 100%;
}

.mail {
	font-size: 20px;
}
.description {
	font-size: 15px;
	font-style: italic;
	color: $color_7;
}

@keyframes spinner {
	to {transform: rotate(360deg);}
  }
   
  .spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: 20px auto;
	border-radius: 50%;
	border-top: 2px solid $color_7;
	border-right: 2px solid transparent;
	animation: spinner .6s linear infinite;
  }