$color_1: #D8000C;
$color_2: #FFF;
$color_3: #F2F2F2;
$color_4: #D3D3D3;
$color_5: #000;
$color_6: #FF0000;
$color_7: #715F73;

$background_color_1: #FFD2D2;
$background_color_2: #4CAF50;
$background_color_3: #DDD;
