$color1: #D8000C;
$color2: #FFF;
$color3: #F2F2F2;
$color4: #D3D3D3;
$color5: #000;
$color6: #FF0000;
$background-color-1: #FFD2D2;
$background-color-2: #4CAF50;
$background-color-3: #DDD;
$silver: silver;
$green: green;
$red: red;
$grey: #999;

